.card {
    border-color: rgba(255, 255, 255, 0.5);
}

.about-nebi-header{
    display: grid;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about-nebi-title {
    font-size: 20px;
    font-weight: 500;
}

.commands-divider {
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin: 8px 0;
}

header {
    display: flex;
    align-items: center;
    position: relative;
}

.header-text {
    flex: 1;
    text-align: center;
    margin-left: 1rem;
}

.back-button {
    width: 30px;
    height: 30px;
    object-fit: contain;
    cursor: pointer;
}

.about-description {
    font-size: 16px;
    line-height: 1.5;
    color: #e0e0e0;
}